av==14.2.0
aiofiles==24.1.0
asyncinotify==4.2.0
asyncio==3.4.3
dataclasses-json==0.6.7
exif==1.6.1
face_recognition==1.3.0
fastapi[standard]==0.115.6
ffmpeg-python==0.2.0
geopy==2.4.1
hypothesis==6.123.2
numpy==1.26.4
opencv-python-headless==4.10.0.84
pillow==11.0.0
pyexiftool==0.5.6
tqdm==4.67.1
transformers==4.49.0
types-tqdm==4.67.0.20241221
ultralytics==8.3.91

# Dev
black==24.10.0
coverage==7.6.9
mypy==1.14.1
pylint==3.3.3
types-aiofiles==24.1.0.20250326
types-Pillow==10.2.0.20240822
types-PyYAML==6.0.12.20241230
vulture==2.14
