<span>
  {% if input.page > 0 %}<a href="#" class="prev-url">Prev Page</a>{% else %}Prev Page{% endif %}
  {% if has_next_page %}<a href="#" class="next-url">Next Page</a>{% else %}Next Page{% endif %}
</span>
<input type="checkbox" id="LocPredCheck" {%if checkboxes['LocPredCheck'] %}checked{%endif%} onclick="window.APP.checkbox_sync.update_from_element(this)"/>Show Location Predictions
<button class="LocPredView" onclick='alert("WAT")'>Run Location Prediction</button>
<div>
{% for image in images %}
  {% if loop.index0 == oi %}
  <div class="gallery_item overlay">
  {% else %}
  <div class="gallery_item">
  {% endif %}
    <span id="i{{loop.index0}}"></span>
    <div class="gallery_item_fs">
        {% if loop.index0 == 0 %}
        {% if input.page > 0 %}<a onclick="window.APP.prev_page()" href="#}">prev</a>{% else %} prev {% endif %}
        {% else %}
        <a href="#i{{ loop.index0}}" onclick="window.APP.overlay_prev(this, {{ loop.index0 }})">prev</a>
        {% endif %}
        <a href="#i{{ loop.index0}}" onclick="window.APP.overlay_close(this)">close</a>
        {% if loop.index == images|length %}
        {% if has_next_page %}<a onclick="window.APP.next_page()" href="#">next</a>{% else %} next {% endif %}
        {% else %}
        <a href="#i{{ loop.index0}}" onclick="window.APP.overlay_next(this, {{ loop.index0 }})">next</a>
        {% endif %}
    </div>
    {% if image.timeicon %}
        {% if ascending %}
        <a href="#" onclick='window.APP.update_url({"tsto":{{image.timestamp}}+0.01})'>⬅️ to</a>
        {% else %}
        <a href="#" onclick='window.APP.update_url({"tsfrom":{{image.timestamp}}-0.01})'>⬅️ from</a>
        {% endif %}
        {{image.timeicon}}
        {% if image.being_annotated %}🏗️{% endif %}
        {% if ascending %}
        <a href="#" onclick='window.APP.update_url({"tsfrom":{{image.timestamp}}-0.01})'>from ➡️</a>
        {% else %}
        <a href="#" onclick='window.APP.update_url({"tsto":{{image.timestamp}}+0.01})'>to ➡️</a>
        {% endif %}
    {% else %}
        {% if image.being_annotated %}🏗️{% endif %}
    {% endif %}
    {% if image.diff_date%}
        {% if image.timeicon %}<br/>{% endif %}
        ⏱️{{image.diff_date}}
    {% endif %}
    {% if image.estimated_loc %}
        <div class="LocPredView{% if image.estimated_loc_onesided%} onesided{%endif%}{% if image.estimated_loc_suspicious %} suspicious{%endif%}">{{image.estimated_loc}}</div>
    {% endif %}
    <div class="gallery_container" onclick="window.APP.overlay(this, {{ loop.index0 }})">
        <img loading="lazy" src="/img?hsh={{image.hsh}}&size={% if loop.index0 == oi %}original{%else%}preview{%endif%}" class="gallery_image" alt="{{image.classifications}}" title="{{image.classifications}}"/>
    </div>
    <div class="overflow">
      {% if image.date %}
        <span class="date"><a onclick='window.APP.update_url({"tsfrom": "{{image.date_timestamp_start}}", "tsto": "{{image.date_timestamp_end}}"})' href="#">{{image.date}}</a></span>
      {% endif %}
      {% if image.time%}
        <span class="date">{{image.time}}</span>
      {% endif %}
      {% for address in image.addrs %}
        <span class="location"><a onclick='window.APP.update_url({"addr": "{{address|safe}}"})' href="#">{{ address | append_flag }}</a></span>
      {% endfor %}
      {% for tag in image.tags %}
        {%if not tag[1] %}<span class="tag"><a onclick='window.APP.update_url_add_tag("{{tag[0]|safe}}")' href="#">{{tag[1]}}{{tag[0]}}</a></span>{% endif %}
      {% endfor %}
      {% if image.camera %}<span class="camera"><a onclick='window.APP.update_url({"camera": "{{image.camera|safe}}"})' href="#">{{image.camera}}</a></span>{% endif %}
      <div class="gallery_item_fs overflow">
        {% if image.software %}<span class="camera">{{image.software}}</span>{% endif %}
        {% for tag in image.tags %}
          {%if tag[1] %}<span class="tag"><a onclick='window.APP.update_url_add_tag("{{tag[0]|safe}}")' href="#">{{tag[1]}}{{tag[0]}}</a></span>{% endif %}
        {% endfor %}
        {% for path in image.paths %}
          <span class="dir"><a onclick='window.APP.update_dir("{{path.dir|safe}}")' href="#">{{path.dir}}</a></span>
        {% endfor %}
        {% for raw in image.raw_data %}
          <span class="raw">{{ raw.k }}: {{raw.v}}</span>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
<br>
<div style="float: left; background: #CCCCCC; height: 10em;">
  {% if input.page > 0 %}<a href="#" class="prev-url">Prev Page</a>{% else %}Prev Page{% endif %}
  {% if has_next_page %}<a href="#" class="next-url">Next Page</a>{% else %}Next Page{% endif %}
</div>
</div>
