 <!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <title>
Gallery
  </title>
<style>
.gallery_item {
  float: left;
  width: 15em;
  background-color: #0000BB33;
  margin: 0.5em;
}
.gallery_image {
  width: 15em;
}
.tag {
  background-color: #00BB0033;
  margin: 0.1em;
}
.location {
  background-color: #BB000033;
  margin: 0.1em;
}
</style>

</head>
<body>

<div>
  <form>
    <label for="ftag">Tag:</label><input type="text" id="ftag" name="tag" value="{{input.tag}}"><br>
    <label for="fcls">Text:</label><input type="text" id="fcls" name="cls" value="{{input.cls}}"><br>
    <label for="faddr">Address:</label><input type="text" id="faddr" name="addr" value="{{input.addr}}"><br>
    <input type="submit" value="Submit">
  </form>
</div>
<div>
  Found {{ images | length }} matches. <br>
  Top tags: 
  {% for tag in top.tag %}
    <a href="?tag={{inputsep.tag}}{{tag[0]}}&cls={{input.cls}}&addr={{input.addr}}">{{tag[0]}} ({{tag[1]}})</a>
  {% endfor %} <br/>
  Top texts: 
  {% for t in top.cls %}
    <a href="?tag={{input.tag}}&cls={{t[0]}}&addr={{input.addr}}">{{t[0]}} ({{t[1]}})</a>
  {% endfor %} <br/>
  Top locs: 
  {% for t in top.addr %}
    <a href="?tag={{input.tag}}&cls={{input.cls}}&addr={{t[0]}}">{{t[0]}} ({{t[1]}})</a>
  {% endfor %} <br/>
</div>
<div>

{% for image in images %}
  <div class="gallery_item">
    <img src="/static/{{image.path}}" class="gallery_image"/>
    {{ image.classifications}} <br/>
    {% for tag in image.tags %}
    <span class="tag">{{tag}}</span>
    {% endfor %}
    <div class="location">{{ image.address }}</div>

  </div>
{% endfor %}
</div>
</body>
</html>
