<form id="input" action="javascript:window.APP.update_form('input')">
  <input type="button" value="reset" onclick='window.APP.reset_param("tag")'>
  <label for="ftag">🏷️:</label><input type="text" id="ftag" name="tag" value="{{input.tag}}"> (tags)<br>
  <input type="button" value="reset" onclick='window.APP.reset_param("cls")'>
  <label for="fcls">📝:</label><input type="text" id="fcls" name="cls" value="{{input.cls}}"> (text)<br>
  <input type="button" value="reset" onclick='window.APP.reset_param("addr")'>
  <label for="faddr">📭:</label><input type="text" id="faddr" name="addr" value="{{input.addr}}"> (address)<br>
  <input type="button" value="reset" onclick='window.APP.reset_param("directory")'>
  <label for="fdir">📁:</label><input type="text" id="fdir" name="directory" value="{{input.directory}}"> (folder)<br>
  <input type="button" value="reset" onclick='window.APP.reset_param("camera")'>
  <label for="fcamera">📷:</label><input type="text" id="fcamera" name="camera" value="{{input.camera}}"> (camera)<br>
  <label for="tsfrom">Time from:</label>
  <input type="text" id="ftsfrom" name="tsfrom" value="{{input.tsfrom}}" hidden=true >
  <span class="date">{{input.tsfrom_pretty}}</span>
  <input type="button" value="-1y" onclick='window.APP.add_to_float_param("tsfrom", "tsto", -365.25*24*60*60)'>
  <input type="button" value="-1m" onclick='window.APP.add_to_float_param("tsfrom", "tsto", -30*24*60*60)'>
  <input type="button" value="-1w" onclick='window.APP.add_to_float_param("tsfrom", "tsto", -7*24*60*60)'>
  <input type="button" value="-1d" onclick='window.APP.add_to_float_param("tsfrom", "tsto", -24*60*60)'>
  <input type="button" value="-1h" onclick='window.APP.add_to_float_param("tsfrom", "tsto", -60*60)'>
  <input type="button" value="-5m" onclick='window.APP.add_to_float_param("tsfrom", "tsto", -5*60)'>
  <input type="button" value="+5m" onclick='window.APP.add_to_float_param("tsfrom", "tsto", 5*60)'>
  <input type="button" value="+1h" onclick='window.APP.add_to_float_param("tsfrom", "tsto", 60*60)'>
  <input type="button" value="+1d" onclick='window.APP.add_to_float_param("tsfrom", "tsto", 24*60*60)'>
  <input type="button" value="+1w" onclick='window.APP.add_to_float_param("tsfrom", "tsto", 7*24*60*60)'>
  <input type="button" value="+1m" onclick='window.APP.add_to_float_param("tsfrom", "tsto", 30*24*60*60)'>
  <input type="button" value="+1y" onclick='window.APP.add_to_float_param("tsfrom", "tsto", 365.25*24*60*60)'>
  <input type="button" value="reset" onclick='window.APP.reset_param("tsfrom")'>
  <input type="button" value="➡️ to (fwd in time)" onclick='window.APP.shift_float_params("tsfrom", "tsto")'>
  <br>
  <label for="tsto">Time to:&nbsp;&nbsp;</label>
  <input type="text" id="ftsto" name="tsto" value="{{input.tsto}}" hidden=true>
  <span class="date">{{input.tsto_pretty}}</span>
  <input type="button" value="-1y" onclick='window.APP.add_to_float_param("tsto", "tsfrom", -365.25*24*60*60)'>
  <input type="button" value="-1m" onclick='window.APP.add_to_float_param("tsto", "tsfrom", -300*24*60*60)'>
  <input type="button" value="-1w" onclick='window.APP.add_to_float_param("tsto", "tsfrom", -7*24*60*60)'>
  <input type="button" value="-1d" onclick='window.APP.add_to_float_param("tsto", "tsfrom", -24*60*60)'>
  <input type="button" value="-1h" onclick='window.APP.add_to_float_param("tsto", "tsfrom", -60*60)'>
  <input type="button" value="-5m" onclick='window.APP.add_to_float_param("tsto", "tsfrom", -5*60)'>
  <input type="button" value="+5m" onclick='window.APP.add_to_float_param("tsto", "tsfrom", 5*60)'>
  <input type="button" value="+1h" onclick='window.APP.add_to_float_param("tsto", "tsfrom", 60*60)'>
  <input type="button" value="+1d" onclick='window.APP.add_to_float_param("tsto", "tsfrom", 24*60*60)'>
  <input type="button" value="+1w" onclick='window.APP.add_to_float_param("tsto", "tsfrom", 7*24*60*60)'>
  <input type="button" value="+1m" onclick='window.APP.add_to_float_param("tsto", "tsfrom", 30*24*60*60)'>
  <input type="button" value="+1y" onclick='window.APP.add_to_float_param("tsto", "tsfrom", 365.25*24*60*60)'>
  <input type="button" value="reset" onclick='window.APP.reset_param("tsto")'>
  <input type="button" value="⬅️ from (bwd in time)" onclick='window.APP.shift_float_params("tsto", "tsfrom")'>
  <br>
  <input type="submit" value="Search">
  <input type="button" value="Reset All" onclick='window.APP.reset_param("__ALL__")'>
</form>
<input type="checkbox" {% if input.skip_with_location %}checked{% endif %} onchange='window.APP.update_url({skip_with_location: this.checked})'> Skip photos with location 🗺️.<br/>
<input type="checkbox" {% if input.skip_being_annotated%}checked{% endif %} onchange='window.APP.update_url({skip_being_annotated: this.checked})' > Skip photos being annoted 🏗️.<br/>
