<table>
  <tr>
      <th></th>
      <th>total</th>
      <th>what</th>
      <th>last update</th>
      <th>raw</th>
      <th>text changes</th>
      <th>loc changes</th>
  </tr>
{% for job in jobs %}
  <tr>
      <td>{{job.icon}}</td>
      <td>{{job.total}}</td>
      <td>{{job.type_}}</td>
      <td>{{job.time | timestamp_to_pretty_datetime}}</td>
      <td class="hovered">hover<divi class="left_algn hover_show">

<pre>
<img loading="lazy" src="/img?hsh={{job.example_path_md5}}&size=preview" class="gallery_image" />
ID: {{job.id_}}
Query: {{job.query_json}}
Stats: {{job.job_json}}
</pre>
      </div></td>
      <td>{{job.repls}}</td>
      <td><a href="#" onclick='window.APP.show_job_list();window.APP.map_zoom({{job.latitude}}, {{job.longitude}});'>{{job.latitude|round(5)}} {{job.longitude|round(5)}}</a></td>
  </tr>
{% endfor %}
</table>
