<div class="submit_overlay" id="submit_overlay">
<h2>Going to annotate {{total}} photos </h2>
<div class="submit_overlay_result" id="submit_overlay_result"></div>
<div class="annotation_scrollable_area">
  <form action="javascript:window.APP.submit_annotations('submit_overlay','SubmitAnnotations','submit_overlay_result', null)" id='SubmitAnnotations'>
    <h3>Location Info</h3>
    <input type="hidden" value='{{query_json_base64|safe}}' name="query_json_base64">
    <b>How to override location?</b>
      <select name="location_override">
        <option value="NoLocNoMan">Override images without location and manual annotation</option>
        <option value="NoLocYeMan">Override images without location, even with manual annotation</option>
        <option value="YeLocNoMan">Override images without manual annotation</option>
        <option value="YeLocYeMan">Override all selected images</option>
      </select>
      <br/>
    <b>Address:</b> {{address.full}}<br/>
    <b>Name:</b> 
      <input type="text" name="address_name" value="{{address.name}}">
      <input type="hidden" name="address_name_original" value="{{address.name}}">
      <br/>
    <b>Country:</b>
      <input type="text" name="address_country" value="{{address.country}}">
      <input type="hidden" name="address_country_original" value="{{address.country}}">
      <br/>
    <b>Latitude:</b> {{req.latitude}}<br/>
    <input type="hidden" value="{{req.latitude}}" name="latitude">
    <b>Longitude:</b> {{req.longitude}}<br/>
    <input type="hidden" value="{{req.longitude}}" name="longitude">
    <h3>Annotation Info</h3>
    <b>How to override text info?</b>
      <select name="text_override">
        <option value="ExMan">Extend manual annotations</option>
        <option value="NoMan">Override images wihout manual annotation</option>
        <option value="YeMan">Override even manual annotations</option>
      </select>
      <br/>
    <b>Extra tags:</b> 
      <input type="text" name="extra_tags" value="">
      </br/>
    <b>Extra description:</b> 
      <input type="text" name="extra_description" value="">
      </br/>
    <input type="checkbox" class="uncheck" name="sanity_check">Check this box<br/>
    <input type="submit" value="Add">
    <input type="submit" value="Add, fwd in time, end +1d" formaction="javascript:window.APP.submit_annotations('submit_overlay','SubmitAnnotations','submit_overlay_result', 24*60*60)">
    <input type="submit" value="Add, fwd in time, end +1w" formaction="javascript:window.APP.submit_annotations('submit_overlay','SubmitAnnotations','submit_overlay_result', 7*24*60*60)">
    <input type="button" value="cancel" onclick="document.getElementById('submit_overlay').remove();">
  </form>

  <h2>Summary of selection</h2>
  <h3>Stats</h3>
  {% include 'aggregate.html' with context %}
  <h3>Directories:</h3>
  <table>
    <tr>
      <th>Directory 📂</th>
      <th>#Images 🖼️</th>
      <th>% with location 🗺️</th>
      <th>% with time 🕝</th>
      <th>% being annotated 🏗️</th>
      <th>Since</th>
      <th>Until</th>
    </tr>
  {% for d in directories %}
    <tr>
      <td>{{d.directory}}</td>
      <td>{{d.total_images}}</td>
      <td>{{ '%.1f'|format(d.has_location * 100.0 / d.total_images|float) }}%</td>
      <td>{{ '%.1f'|format(d.has_timestamp * 100.0 / d.total_images|float) }}%</td>
      <td>{{ '%.1f'|format(d.being_annotated * 100.0 / d.total_images|float) }}%</td>
      <td>{% if d.since %}{{ d.since | timestamp_to_pretty_datetime }}{% endif %}</td>
      <td>{% if d.until %}{{ d.until | timestamp_to_pretty_datetime }}{% endif %}</td>
    </tr>
  {% endfor %}
  </table>
  <h3>Raw selection</h3>
  <pre>
  {{query_json}}
  </pre>

  <h2>Sample of photos</h2>
{% for image in images %}
  <div class="gallery_item">
    {% if image.being_annotated %}🏗️{% endif %}
    <div class="gallery_container">
    <img loading="lazy" src="/img?hsh={{image.hsh}}&size=preview" class="gallery_image" alt="{{image.classifications}}" title="{{image.classifications}}"/>
    </div>
    {% for address in image.addrs %}
    <span class="location">{{ address | append_flag }}</span>
    {% endfor %}
    {% if image.date %}
    <span class="date">{{image.date}}</span>
    {% endif %}
    {{ image.classifications}} <br/>
    {% for tag in image.tags %}
    <span class="tag">{{tag[1]}}{{tag[0]}}</span>
    {% endfor %}
    {% if image.camera %}<span class="camera">{{image.camera}}</span>{% endif %}
    {% for path in image.paths %}
    <span class="dir">{{path.dir}}</span>
    <div class="gallery_item_fs overflow">
    {% if image.software %}<span class="camera">{{image.software}}</span>{% endif %}
    {% for raw in image.raw_data %}
      <span class="raw">{{ raw.k }}: {{raw.v}}</span>
    {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
</div>
