<h3>Progress of server queues</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Progress</th>
    <th>Total</th>
    <th>Rate</th>
    <th>Elapsed</th>
  </tr>
  {% for bar in status.progress_bars %}
    <tr>
      <td class="center">{{bar[0]}}</td>
      <td>{{bar[1].desc}}</td>
      <td class="center">{{bar[1].progress}}</td>
      <td class="center">{% if bar[1].total > 0%}{{bar[1].total}}{%endif%}</td>
      <td class="center">{%if bar[1].rate %}{{bar[1].rate | round(1)}} it/s{%endif%}</td>
      <td class="center">{{bar[1].elapsed | format_seconds_to_duration}}</td>
    </tr>
  {% endfor %}
</table>
<h3>Status of async workers</h3>
<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Since</th>
    <th>Error Info</th>
  </tr>
  {% for worker in status.current_state.values() %}
    <tr>
      <td>{{worker.name}}</td>
      <td class="center">{{worker.state.value}}</td>
      <td class="center">{{ (now - worker.when) | format_seconds_to_duration}}</td>
      <td>{%if worker.exception%}
        {%for line in worker.exception.exc_tb%}
          {{line}}<br/>
        {%endfor%}
        {{worker.exception.exc_type}}: {{worker.exception.exc_val}}<br/>
      {%endif%}</td>
    </tr>
  {% endfor %}
</table>
